body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* border: 1px solid magenta; */
    margin: 0px;
    padding: 5%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    /* border: 1px solid green; */
}

header {
    width: 100%;
    /* border: 1px solid blue; */
}

header>h1 {
    margin: 0px;
    /* border: 1px solid gold; */
    font-size: 3em;
}

section {
    /* border: 1px solid brown; */
    font-size: 2em;
}