* {
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif, monospace;
}

.hidden {
    display: none !important;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    /* border: 2px solid red; */
    border-bottom: 1px solid black;
}

h1 {
    margin: 0;
    line-height: 0.6;
    font-size: 4rem;
}

.icons-list {
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
    /* border: 2px solid pink; */
}

.icons-list>li {
    display: flex;
    align-items: center;
    /* border: 2px solid lime; */
}

.icons-list>li>svg {
    padding: 1px;
}

.list-control>button {
    background: none;
    border: none;
    cursor: pointer;
}

.list-control svg:active {
    fill: #777777;
}

.contents,
.index {
    padding: 15px;
}

h2 {
    margin: 0px;
    font-size: 3rem;
}

details,
.index li {
    padding-left: 0.8rem;
    marker: none;
}

details.focus,
.index details[open] {
    /* background: #f4f4f4; */
    border-left: 2px solid black;
    outline: black;
}

details[open] .count {
    display: none;
}

summary,
li {
    font-size: 2.2rem;
    cursor: pointer;
}

summary::marker,
summary::-webkit-details-marker {
    display: none;
    content: "";
}

summary>span.name:hover,
a:hover {
    text-decoration: underline;
}

summary>span.count {
    padding-left: 0.2em;
    color: #aaaaaa;
}

summary>span.count::before {
    content: "(";
}

summary>span.count::after {
    content: ")";
}

ul {
    margin: 0.2em;
    padding-left: 0.5em;
    list-style-type: none;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: #777;
}

li::marker {
    display: none;
    content: "";
}

@media only screen and (min-width: 992px) {

    .contents,
    .index {
        column-count: 3;
    }

}